.about {
    text-align: center;
    width: 50%;
    margin: 3rem auto 3rem auto;
    font-size: 1.6rem;
    padding: 0 3rem;
    h3 {
        font-size: 3rem;
        padding-top: 0;
    }
    p {
        margin-bottom: 1rem;
        text-align: justify;
    }
}

.about-text {
    width: 100%;
    margin: 0 auto;
    color: #292e34;
    border-radius: 1rem;
}