.about {
    text-align: center;
    width: 50%;
    margin: 5rem auto;
    font-size: 1.6rem;
}

.about h3 {
    font-size: 3rem;
}

.about p {
    margin-bottom: 1rem;
}

.indent {
    text-indent: 2em;
    text-align: justify;
}

.disclaimer {
    font-size: 1rem;
    margin-top: 2rem;
}