.blog-loading {
    width: 50%;
    min-height: 20vh;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #535C68;
    border-radius: 2rem;
    text-align: center;
    font-size: 2rem;
}

.blog {
    width: 50%;
    min-height: 20vh;
    margin: 2rem auto;
    padding: 2rem 0;
    background-color: #535C68;
    border-radius: 2rem;
}