.blog {
    width: 50%;
    min-height: 20vh;
    margin: 2rem auto;
    padding: 1rem 0;
    background-color: #478093;
    border-radius: 2rem;
    a {
        display: block;
        text-decoration: none;
        margin: 0 auto 1rem auto;
        &:first-child {
            margin: 1rem auto;
        }
    }
}