@media  (max-width: 650px) {
    .header {
        height: 50vh;
    }

    .welcome{
        padding: 10vh;
    }

    .navbar {
        width: 100%;
    }

    .about {
        width: 100%;
    }

    .blog {
        width: 100%;
        background-color: #DAE0E2;
    }

    .post-wrap {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        background-color: #DAE0E2;
    }

    .post {
        background-color: none;
        color: #000;
        min-height: 50vh;
    }

    .post-summary {
        background-color: #535C68;
        color: #fff;
    }

    .new-input-field {
        width: 90%;
    }

    .edit-input-field {
        width: 90%;
    }

    .wysiwyg {
        width: 90%;
    }

    .btns {
        width: 60%;
    }

    h3 {
        font-size: 2rem;
        text-align: center;
        padding: 1rem 0;
    }
}