@media  (max-width: 1230px) {
    .navbar {
        width: 70%;
    }

    .about {
        width: 70%;
    }

    .blog {
        width: 70%;
    }

    .post-wrap {
        width: 70%;
    }

    .new-input-field {
        width: 60%;
    }

    .edit-input-field {
        width: 60%;
    }

    .btns {
        width: 40%;
    }
}