@media  (max-width: 750px) {
    .header {
        height: 30vh;
    }

    .welcome{
        padding: 10vh;
    }

    .navbar {
        width: 100%;
    }

    .about {
        width: 100%;
    }

    .post-wrap {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .post {
        h3 {
            font-size: 1.5rem;
            margin-top: 1rem;
        }
        .content {
            p {
                font-size: 1.2rem;
            }
        }
    }
}