@media  (max-width: 880px) {
    .header {
        height: 40vh;
    }

    .welcome {
        padding: 15vh 0;

        h1 {
            font-size: 3rem;
        }
        p {
            width: 80%;
            margin: 0 auto;
            font-size: 1.5rem;
        }
    }

    .navbar {
        width: 80%;
        margin: 2rem auto 0 auto;
        li {
            font-size: 2rem;
        }
    }

    .about {
        width: 80%;
    }

    .blog {
        width: 90%;
        margin: 0 auto;
    }

    .post-summary {
        width: 100%;
        margin-bottom: 2rem;
        padding: 2rem;
        color: #000;
        background-color: rgb(185, 221, 233);
        border-radius: 1rem;
    }

    .post-wrap {
        width: 90%;
    }

    .post {
        h3 {
            font-size: 1.5rem;
        }
        .content {
            p {
                font-size: 1.2rem;
            }
        }
    }

    .new-input-field {
        width: 80%;
    }

    .edit-input-field {
        width: 80%;
    }

    .wysiwyg {
        width: 80%;
    }

    .btns {
        width: 50%;
    }

    .input-field {
        width: 80%;
    }

    h3 {
        font-size: 2.5rem;
    }
}