.footer {
    width: 100%;
    bottom: 0;
    color: #535C68;
    text-align: center;
    height: 4rem;
    font-size: 1.5rem;
    padding-top: 2rem;
    border-top: 1px solid #f0eeee;
}

.footer > p {
    padding: 1rem;
    padding-bottom: 3rem;
}