.login {
    width: 100%;
    text-align: center;
}

.form > h3 {
    margin: 0 auto;
    width: 50%;
}

.input-field {
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.6rem;
    width: 40%;
    label {
        flex: none;
        width: 10rem;
        text-align: left;
    }
    input {
        flex-basis: 0;
        flex-grow: 10;
        padding-left: 0.5rem;
        font-size: 1.2rem;
    }
    button {
        padding: 1rem;
        font-family: 'Nunito', sans-serif;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
        width: 50%;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
    }
}

.login-btn {
    background-color: #0A79DF;
    color: #eee;
    margin: 1rem auto;
    &:hover {
        background-color: #192A56;
    }
}

.login-error {
    color: red;
    font-size: 2rem;
}