.navbar {
    margin: 2rem auto 0 auto;
    width: 50%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #f0eeee;

    ul {
        list-style-type: none;
        display: flex;
        margin: 0 auto;
    }
    
    li {
        flex-grow: 1;
        flex-basis: 0;
        font-size: 3rem;
        padding: 1rem;
    }
    
    a {
        text-decoration: none;
        display: block;
        color: #292e34;
        cursor: pointer;
        &:hover {
            color: #000;
            transform: scale(1.2);
        }
        &:active {
            color: #000;
        }
        &:active:hover {
            color: #000;
        }
    }
}

.nav-active {
    color: #292e34;
    transform: scale(1.2);
}