.new-post {
    background-color: #DAE0E2;
}

.new-input-field {
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    width: 40%;
    label {
        text-align: left;
    }
    input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.2rem;
        border: solid 1px #00000020;
    }
    button {
        padding: 1rem;
        font-family: 'Nunito', sans-serif;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.btns {
    display: flex;
    width: 30%;
}