.post-wrap {
    width: 50%;
    margin: 2rem auto 3rem auto;
}

.post {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 2rem;
    color: #000000;
    h3 {
        padding-top: 0;
        font-size: 2rem;
    }
}

.content {
    font-size: 1.4rem;
    text-align: justify;
    word-wrap: break-word;
}

.post-info {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #000000;
    text-align: right;
}

.post-btns {
    display: flex;
    width: 40%;
    margin: 2rem auto 0 auto;
    button{
        flex-grow: 1;
        flex-basis: 0;
        padding: 1rem;
        font-size: 1.4rem;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        &:first-child{
            margin-right: 1rem;
        }
    }
}

.edit-btn{
    color: #fff;
    background-color: #0A79DF;
    &:hover{
        color: #0A79DF;
        background-color: #fff;
    }
}

.delete-btn{
    color: #fff;
    background-color: #E8290B;
    &:hover{
        color: #E8290B;
        background-color: #fff;
    }
}