.post {
    width: 50%;
    margin: 0 auto 3rem auto;
}

.content {
    font-size: 1.4rem;
    text-align: justify;
    word-wrap: break-word;
}

.post-info {
    font-size: 1rem;
    margin-top: 2rem;
    color: #535C68;
    text-align: right;
}

.post-loading {
    text-align: center;
    font-size: 3rem;
    min-height: 30vh;
}