.post {
    width: 50%;
    margin: 0 auto 3rem auto;
}

.content {
    font-size: 1.4rem;
    text-align: justify;
}

.post-info {
    font-size: 1rem;
    margin-top: 2rem;
    color: #535C68;
    text-align: right;
}