@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    background-color: #fff;
    width: 100%;
}

h3 {
    font-size: 4rem;
    text-align: center;
    padding: 2rem 0;
}

.header {
    height: 70vh;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("./img/header1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eee;
    text-align: center;
}

.welcome {
    padding: 25vh 0;
}

.welcome h1 {
    font-size: 5rem;
}

.welcome p {
    font-size: 2rem;
}

.container {
    width: 100%;
    background-color: #DAE0E2;
}

.navbar {
    margin: 0 auto;
    width: 50%;
    display: flex;
    text-align: center;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.navbar a {
    font-size: 2rem;
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 1;
    text-decoration: none;
    color: #535C68;
}

.navbar a:hover {
    color: #292e34;
    transform: scale(1.2);
}

.footer {
    width: 100%;
    bottom: 0;
    color: #000;
    text-align: center;
    height: 4rem;
    background-color: #535C68;
    font-size: 1.5rem;
}

.footer > p {
    padding: 1rem;
}

.login {
    width: 100%;
    text-align: center;
}

.form > h3 {
    margin: 5rem auto;
    width: 50%;
}

.input-field {
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.6rem;
    width: 40%;
}

.input-field label {
    flex: none;
    width: 10rem;
    text-align: left;
}

.input-field input {
    flex-basis: 0;
    flex-grow: 10;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}

.input-field button {
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.login-btn {
    background-color: #0A79DF;
    color: #eee;
    margin: 1rem auto;
}

.input-field .login-btn:hover {
    background-color: #192A56;
}

.login-error {
    color: red;
}

.about {
    text-align: center;
    width: 50%;
    margin: 5rem auto;
    font-size: 1.6rem;
}

.about h3 {
    font-size: 3rem;
}

.about p {
    margin-bottom: 1rem;
}

.indent {
    text-indent: 2em;
    text-align: justify;
}

.disclaimer {
    font-size: 1rem;
    margin-top: 2rem;
}

.new-post {
    background-color: #DAE0E2;
    height: 100vh;
}

.input-field > div {
    flex: none;
    width: 10rem;
    text-align: left;
}

.new-post textarea {
    width: 100%;
    height: 55vh;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem
}

.new-post button {
    margin: 1rem;
}

.new-post .cancel-btn {
    background-color: #758AA2;
    color: #292e34;
}

.new-post .cancel-btn:hover {
    background-color: #535C68;
    color: #eee;
}

.new-post .submit-btn {
    background-color: #2ecc72;
    color: #292e34;
}

.new-post .submit-btn:hover {
    background-color: #26ae60;
    color: #eee;
}