@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    background-color: #fff;
    width: 100%;
}

.header {
    height: 70vh;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("./img/header1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eee;
    text-align: center;
}

.welcome {
    padding: 25vh 0;
}

.welcome h1 {
    font-size: 5rem;
}

.welcome p {
    font-size: 2rem;
}

.container {
    width: 100%;
    background-color: #DAE0E2;
}

.navbar {
    margin: 0 auto;
    width: 50%;
    display: flex;
    text-align: center;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.navbar a {
    font-size: 1.5rem;
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 1;
    text-decoration: none;
    color: #535C68;
}

.navbar a:hover {
    color: #292e34;
    transform: scale(1.2);
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #000;
    text-align: center;
    height: 4rem;
    background-color: #535C68;
    font-size: 1.5rem;
}

.footer > p {
    padding: 1rem;
}